*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-image: url("https://cdn.wallpapersafari.com/42/21/WZxSHf.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 1000px 800px
  }
