*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.add-song-box {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em
}
